.customerSvg {
  color: #4a90e2;
}
.tenantName {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.overlay {
  :global {
    .ant-dropdown-menu {
      padding-left: 8px;
      padding-right: 8px;
      max-height: 320px;
      overflow-y: auto;
      .ant-dropdown-menu-item:not(.ant-dropdown-menu-item-selected) {
        height: 32px;
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.8);
        &:hover {
          color: rgb(255, 255, 255);
          background-color: #4a90e2;
        }
      }
      .ant-dropdown-menu-item-selected {
        height: 32px;
        background: rgba(74, 144, 226, 0.16);
        color: #4a90e2;
        &:hover {
          color: rgb(255, 255, 255);
          background-color: #4a90e2;
        }
      }
    }
  }
}

.switchTenant {
  padding: 0;
  height: 40px;
  display: inline-block;
  border: none;
  color: #4a90e2;
  cursor: pointer;
}
